<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script type="text/javascript" src="../data/menu.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script> docLoaded(indexPageLoaded);

    </script>
    <title>Wermlandskällar'n</title>
    <header>
        <h4 id="headlineID">Wermlandskällar'n ordering system</h4>
    </header>
    <meta charset="utf-8"/>
</head>

<body>
<main id="mainID">
    <table id="tableID">
        <tr id="tr1">
            <td id="td1">
    <div id="burger">
            <table>
                <tbody>
                <tr>
                    <td><button class="text" type="button" onclick="addToOrder('Hamburgare', 65, 'yes')">Hamburgare</button>
                    </td>
                    <td><button class="text" type="button" onclick="addToOrder('Ostburgare', 70, 'yes')">Ostburgare</button>
                    </td>
                    <td><button class="text" type="button" onclick="addToOrder('Veganburgare', 65, 'yes')">Veganburgare</button>
    </td>
    </tbody>
            </table>
    </div>
            </td>
            <td rowspan="2" id="tdbest">
                <div id="best">
                    <table id="kalle">
                        <tr id="trrows">
                            <td id="tdrows">
                                <div id="rows"></div>
                            </td>

                        </tr>
                        <tr id="trskicka">
                            <td>
                                <div id="skicka">
                                    <button type="button" id='btn' v-on:click="placeOrder()">Skicka</button>
                                <select id="bord">
                                    <option>Bord 1</option>
                                    <option>Bord 2</option>
                                    <option>Bord 3</option>
                                    <option>Bord 4</option>
                                    <option>Bord 5</option>
                                    <option>Bord 6</option>
                                    <option>Bord 7</option>
                                    <option>Bord 8</option>
                                    <option>Bord 9</option>
                                </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>

        </tr>
        <tr>
            <td>
    <div id="drink">
        <table>
            <tr>
                <td>
                    <button class="text" onclick="addToOrder('Fullers India Pale Ale, 50cl', 65, 'no')">Fullers India Pale Ale, 50cl</button>
                </td>
                <td>
                    <button class="text" onclick="addToOrder('Brew Dog 5 a.m, 33cl', 65, 'no')">Brew Dog 5 a.m, 33cl</button>
                </td>
                <td>
                    <button class="text" onclick="addToOrder('Wisby Oak Porter, 33cl', 65, 'no')">Wisby Oak Porter, 33cl</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="text" onclick="addToOrder('Fullers ESB, 50cl', 65, 'no')">Fullers ESB, 50cl</button>
                </td>
                <td>
                    <button class="text" onclick="addToOrder('Baron Trenck, 50cl', 65, 'no')">Baron Trenck, 50cl</button>
                </td>
                <td>
                    <button class="text" onclick="addToOrder('Innis & Gunn Toasted Oak IPA, 33cl', 65, 'no')">Innis & Gunn Toasted Oak IPA, 33cl</button>
                </td>
            </tr>
        </table>
    </div>
            </td>
    <!--
    <label for="halt">Staropramen</label>
    <select id="halt">
        <option>4.8%</option>
        <option>5.2%</option>
    </select>

    <label for="alk">Alkohol/Alkfri</label>
    <input type="radio" id="alk" value="alk" name="alktype" checked="checked" Alkohol>
    <input type="radio" value="alkfri" name="alktype" Alkoholfri>
    <form>
        <p>
        <center>
            <label for="dricka">Beställ</label>
            <select id="dricka">
                <option>Gränges</option>
                <option>Staropramen</option>
                <option>Glögg</option>
            </select><br>
    </form>
    <button type="button" id='btn' v-on:click="placeOrder()"><img
            src="http://berndtholmstrom.fi/attastegtilldittvarumarke/bestall_knapp.png" width="100"></button>
    </center>
    </p>
    -->
        </tr>
        <tr>
            <td>
    <div id="orders">
        <h5>Väntande beställningar</h5>
        <ol>
            <li v-for="(item, key) in orders" v-if="!item.done">
                {{ key }} : {{ item.orderItems.join(', ') }}
            </li>
        </ol>
    </div>
            </td>
        </tr>
    </table>
</main>
<div id="test1"></div>
<div id="test2"></div>
<div id="test3"></div>
<div id="test4"></div>
<div id="test5"></div>
<footer>
    Copyright &copy;
</footer>
<script src="/vue/vue.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/nationPub.js"></script>
<script src="js/diner.js"></script>
</body>
</html>
