/*
#burger table {
    width: 100vw;
    height: auto;
}

#burger td {
    text-align: center;
}*/

header {
    text-align: center;
}

body {
    font-family: arial;
    font-size: 3vh;
}

button:hover {
    cursor: pointer;
}

#burger {
    color: black;
    background-color: white;
    border: 1px dashed black;
    width: 70vw;
    //display: inline-block;

}

#drink {
    padding-top: 5px;
    width: 70vw;
    border: 1px dashed black;
    //display: inline-block;
    border: 1px dashed black;
}

#best {
    //display: inline-block;
    border: 1px dashed black;
    overflow: auto;
    width: 28.9vw;
    height: 29vh;
}

#orders {
    text-align: center;
}

//Själva tablet för beställningen
#bestallningar {

}

#bord {
    position: fixed;
    right: 11vw;
    bottom: 58.1vh;
}

#btn {
    position: fixed;
    right: 8vw;
    bottom: 58vh;
}

.text {
    width: 23vw;
    height: 5vw;
}

.minus {
    height: 50px;
    width: 40px;
}

#td1 {
    vertical-align: top;
}
