/*
#burger table {
    width: 100vw;
    height: auto;
}

#burger td {
    text-align: center;
}*/

header {
    text-align: center;
}

body {
    font-family: arial;
    font-size: 3vh;
}

button:hover {
    cursor: pointer;
}

#burger {
    color: black;
    background-color: white;
    border: 1px dashed black;
    width: 70vw;
}

#drink {
    padding-top: 5px;
    width: 70vw;
    border: 1px dashed black;
}

#best {
    border: 1px dashed black;
    vertical-align: top;
    width: 28.9vw;
    height: 29vh;
}

#skicka {

}

#kalle {
    //table-layout:fixed;
}

#rows {
    width: 28.9vw;
    height: 23vh;
    overflow: auto;
}

#skicka {
    text-align: center;
    width: auto;
    height: 6vh;
}

#orders {
    text-align: center;
}

//Själva tablet för beställningen
#bestallningar {

}

#bord {
    position: fixed;
    right: 13vw;
    bottom: 56.1vh;
}

#btn {
    position: fixed;
    right: 8vw;
    bottom: 56vh;
}

.text {
    width: 23vw;
    height: 5vw;
}

.minus {
    height: 50px;
    width: 40px;
}

#td1 {

}

#tdbest {

}